/*
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1
Medium: 1.2
Small: 1.05
Paragraph default: 1.6

- LETTER SPACING
-0.5px
0.75px;

--- 02 COLORS

- Primary: #aa8c2c;
- Tints: 
- Shades: 
- Accents: 
- Greys: 

--- 03 Imgs: unsplash, uifaces(headshots)

--- 04 Icons:

--- 05 SHADOWS: 
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADUIS

Default: 9px
11px

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --primary-color: #aa8c2c;
  --primary-tint: #bba356;
  --secondary-tint: #c4af6b;
  --primary-shade: #554616;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: url(/src/images/png/er-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: var(--primary-color);
}

html,
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#content {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0);
  padding: 3.2rem 6.4rem;
}

.header > h1 {
  font-size: 6.2rem;
  margin-bottom: 2.4rem;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  transition: 0.3s;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  display: inline-block;
  text-decoration: underline;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.5s;
}

.nav-link:not(:last-child) {
  padding-right: 2rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: underline;
  transition: all 0.5s;
}

.nav-link:hover,
.nav-link:active {
  cursor: pointer;
  transform: translate(0, -1rem);
}

.list {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.list > li {
  font-size: 2rem;
}

.list li:not(:last-child) {
  margin-right: 1.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.2rem;
  /* background-color: rgba(0, 0, 0, 0.72); */
  margin-top: 8rem;
}

.order > h2 {
  font-size: 5.2rem;
  /* different font color needed */
  /* color: var(--primary-tint); */
  color: #e6ddc0;
}

.sub-heading {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
  color: #e6ddc0;
}

.resturant-info {
  display: flex;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.72);
  padding: 2.4rem 3.2rem;
  font-size: 2.4rem;
  height: 25rem;
}

.resturant-info:first-child {
  margin-right: 3rem;
}

.address-column,
.hours-column {
  display: flex;
}

.address-column {
  margin-right: 3.2rem;
}

.icon {
  margin-right: 1.2rem;
}

/* Menu */

.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #aa8c2c;
  color: black;
  height: 100%;
  width: 100%;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  justify-items: center;
  /* Temporary */
  background-color: pink;
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-item > img {
  width: calc(5rem + 8vw);
  height: calc(5rem + 8vw);
}

.menu-item > h4 {
  color: black;
}

.ingredients {
  list-style: none;
  color: grey;
}

.ingredients > li > span {
  color: var(--primary-color);
}

/* Contact */

.contact {
  max-width: 700px;
  padding: 4rem;
  margin: 8rem 0;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.72);
  border: 1px solid black;
}

.contact img {
  max-height: 420px;
  padding: 1rem;
  opacity: 90%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.72);

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

/* reusable styles */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  border-radius: 9px;

  /*  Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on origianl "State" */
  transition: all 0.3s;
}
